/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/* Layers */
#define QWERTY 0
#define NUMNAV 1
#define SYMFUN 2

&caps_word {
  continue-list = <UNDERSCORE MINUS DEL BKSP>;
};

//&mt {
//  quick-tap-ms = <125>;
//};

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        behaviors {
                qmt: quick-mod-tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "QUICK_MOD_TAP";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <300>;
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  `       |  Q  |  W  |  E   |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | \       |
// | CTRL/ESC |  A  |  S  |  D   |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | CTRL/ ' |
// | SHFT/ (  |  Z  |  X  |  C   |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT/ ) |
//     | LALT/SYMFUN | LCMD/RET | NUMNAV/SPC |   | NUMNAV/SPC | RCMD/BSPC | RALT/NUMNAV |
                        bindings = <
        &kp GRAVE      &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
        &kp ESC  &qmt LSHFT A &qmt LCTRL S &qmt LALT D &qmt LCMD F &kp G   &kp H &qmt RCMD J  &qmt RALT K &qmt RCTRL L &qmt RSHFT SEMI &kp SQT
        &mt LSHFT LPAR &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mt RSHFT RPAR
   &kp LALT &mt LCMD RET &lt NUMNAV SPACE   &lt NUMNAV SPACE &mt RCMD BSPC &kp RALT
                        >;
                };
//   &mt LALT &to SYMFUN &mt LCMD RET &lt NUMNAV SPACE   &lt NUMNAV SPACE &mt RCMD BSPC &mt RALT &to NUMNAV
                numnav_layer {
                        label = "NUMNAV";
// -----------------------------------------------------------------------------------------
// |          |  1  |  2  |  3  |  4      |  5  |   |  6  |  7  |  8  |  9  |  0  |   -     |
// | CTRL/ESC |     |     |     | CPS_WRD |     |   | LFT | DWN |  UP | RGT |  +  |  CTRL   |
// | SHFT/ [  |     |     |     |         |     |   | HOM | PGD | PGU | END | INS | SHFT/ ] |
//        | LALT/QWERTY | LCMD/TAB | SYMFUN/SPC |   | SYMFUN/SPC | RCMD/DEL | RALT/SYMFUN |
                        bindings = <
   &none          &kp N1 &kp N2 &kp N3 &kp N4     &kp N5   &kp N6   &kp N7    &kp N8    &kp N9    &kp N0   &kp MINUS
   &mt LCTRL ESC  &none  &none  &none  &caps_word &none    &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &kp PLUS &kp RCTRL
   &mt LSHFT LBKT &none  &none  &none  &none      &none    &kp HOME &kp PG_DN &kp PG_UP &kp END   &kp INS  &mt RSHFT RBKT
       &kp LALT &mt LCMD TAB &lt SYMFUN SPACE   &lt SYMFUN SPACE &mt RCMD DEL &kp RALT
                        >;
                };
//       &mt LALT &to QWERTY &mt LCMD TAB &lt SYMFUN SPACE   &lt SYMFUN SPACE &mt RCMD DEL &mt RALT &to SYMFUN
                symfun_layer {
                        label = "SYMFUN";
// -----------------------------------------------------------------------------------------
// |          | F1  | F2  | F3  | F4      | F5     |   | F6  | F7  | F8 | F9 | F10 | Å      |
// | CTRL/ESC | BT1 | BT2 | BT3 | BT4     | BT5    |   |     |     |    |    | Ö   | CTRL/Ä |
// | SHFT     |     |     |     | OUT_TOG | BT_CLR |   | F11 | F12 |    |    |     | SHFT   |
//               | LALT/NUMNAV | LCMD | QWERTY/SPC |   | QWERTY/SPC | RCMD | RALT/QWERTY |
                        bindings = <
   &none          &kp F1       &kp F2       &kp F3       &kp F4       &kp F5        &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &none
   &mt LCTRL ESC  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &kp LEFT &kp DOWN &kp UP &kp RIGHT &none   &kp RCTRL
   &kp LSHFT      &none        &none        &out OUT_USB &out OUT_BLE &bt BT_CLR    &kp F11  &kp F12  &none  &none     &none   &kp RSHFT
                                &kp LALT &mt LCMD TAB &lt QWERTY SPACE   &lt QWERTY SPACE &mt RCMD DEL &kp RALT
                        >;
                };
//                                &mt LALT &to NUMNAV &mt LCMD TAB &lt QWERTY SPACE   &lt QWERTY SPACE &mt RCMD DEL &mt RALT &to QWERTY
        };
};